.btn {
    &-green {
        background-color: $backgroundGreen !important;
        color: $textDarkGreen !important;
        letter-spacing: 3px;
        font-size: 16px;
        &-reverse {
            background-color: $textDarkGreen !important;
            color: $backgroundGreen!important;
        }
    }
    &-outline-warning {
        color: $specialYellow !important;
        letter-spacing: 2px;
        font-size: 16px;
    }
}