.image-solution {
    background: {
        image: url('../img/hero-bg.jpg');
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    width: 100%;
    padding: 210px 0 70px 0;
}